@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

.index {
    background-color: #FDF5FF;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
}

.header {
    align-content: flex-start;
}

.icon {
    background-image: url(../assets/search.png);

}

h1 {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 48px;
    margin: 0px;
}

h3 {
    margin-top: 100px;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 36px;
    font-weight:500;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
    padding-bottom: 15px;
}

.searchTerm {
    width: 100%;
    border: 1px solid #BB3CE1;
    padding: 2px;
    height: 40px;
    outline: none;
    border-radius: 25px;
    text-align: center;
    font-size: 16px;
}

.searchButton {
    margin: 5px;
    font-size: 16px;
    padding: 10px;
    border: none;
    background-image: linear-gradient(180deg, #BB3CE1 0%, #D946E4 100%);
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    border-radius: 25px;
    display:block;
    margin: auto;
}

.wrap {
    width: 30%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cards {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0;
    padding-bottom: 20px;
}

.card {
    text-align: center;
    width: 250px;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding-top: 25px;
}

.card-header img {
    width: 150px;
    height: auto;
    object-fit: cover;
}

.card-body {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    text-align: center;
}