@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

.index {
    background-image: linear-gradient(180deg, rgba(253, 249, 232, 1) 0%, rgb(251, 235, 255) 100%);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
}

.header {
    align-content: flex-start;
}

h1 {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 48px;
    margin: 0px;
}

h3 {
    margin-bottom: 0px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 36px;
}

