body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  font-family: "Raleway", sans-serif;
}
body {
  background-color: #fdf5ff;
}
.go-to-lesson-box:hover {
  transform: scale(1.03);
  cursor: pointer;
  animation-delay: 2s;
  transform-style: preserve-3d;
}
.show-lesson:hover {
  transform: scale(1.02);
  cursor: pointer;
  animation-delay: 2s;
  color: blue;
}
.show-lesson {
  align-items: center;
}
.bookmark-lesson:hover {
  transform: scale(1.1);
  cursor: pointer;
  animation-delay: 2s;
}
